<?xml version='1.0' encoding='utf-8'?>
<widget id="com.itfun.roadtrip" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RoadTrip by ITFUN</name>
    <description>
        App that 
    </description>
    <author email="s_ovcharenko@fanshaweonline.ca" href="http://www.fanshawec.ca">
        ITFUN
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" />
    <access origin="*" />
</widget>
